.karla-<uniquifier> {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body {
    background-color: #1F2937;
    margin: 0;
    padding-bottom: 20vh;
}

/* "Generate a" text */
h1 {
    font-family: "Karla";
    font-weight: 800;
    font-size: 10vh;
    
    color: white;
    
    margin-left: 10vh;
    margin-top: 20vh;
}

/* "random password" text */
h2 {
    font-family: "Karla";
    font-weight: 800;
    font-size: 10vh;
    
    color: #b053c4;
    
    margin-left: 10vh;
    margin-top: -7vh;
}

/* "Never use an insecure password again." text */
h3 {
    font-family: "Karla";
    font-weight: 50;
    font-size: 5vh;
    
    color: lightgrey;
    
    margin-left: 10vh;
    margin-top: -7vh;
}

#special-characters-checkbox, #numbers-checkbox {
    width: 3vh;
    height: 3vh;

    border: 0.3vh solid white;

    margin-right: 0.5vh;
    cursor: pointer;
}

/* toggles */
.toggle-label {
    font-family: "Karla";
    font-weight: 50;
    font-size: 3.5vh;
    
    color: white;
    
    display: block;
    margin-left: 10vh;
    margin-top: 3vh;
}

/* "Generate passwords" button */
button {
    font-family: "Karla";
    font-weight: 100;
    font-size: 3.5vh;
    
    color: white;
    background-color: #b053c4;
    
    width: 38vh;
    height: 8vh;
    border: none;
    border-radius: 1vh;
    
    margin-left: 10vh;
    margin-top: 8vh;
}

/* page separator */
.page-breaker-hr {
    border: none;
    height: 3px;
    background-color: #273549;
    width: 85%;
    align-items: center;
    margin: 7vh
}

.empty-password-box-div {
    font-family: "Karla";
    font-weight: 700;
    font-size: 3.5vh;
    
    color: #b053c4;
    background-color: #273549;

    width: 45vh;
    height: 8vh;
    border-radius: 1vh;
        
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 7vh;
    margin-top: 1vh;
}

.copy-btn {
    background-image: url("copy-link.png");
    background-size: cover;
    background-color: #1F2937;

    width: 4vh;
    height: 4vh;
    border-radius: 1vh;
        
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.5vh;
    margin-top: 1vh;
}