.karla-<uniquifier> {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body {
    background-color: #1F2937;
    margin: 0;
}

/* "Generate a" text */
h1 {
    font-family: "Karla";
    font-weight: 800;
    font-size: 10vh;
    
    color: white;
    
    margin-left: 10vh;
    margin-top: 20vh;
}

/* "random password" text */
h2 {
    font-family: "Karla";
    font-weight: 800;
    font-size: 10vh;
    
    color: #b053c4;
    
    margin-left: 10vh;
    margin-top: -7vh;
}

/* "Never use an insecure password again." text */
h3 {
    font-family: "Karla";
    font-weight: 50;
    font-size: 5vh;
    
    color: lightgrey;
    
    margin-left: 10vh;
    margin-top: -7vh;
}

/* "Generate passwords" button */
button {
    font-family: "Karla";
    font-weight: 100;
    font-size: 40vh;
    
    color: white;
    background-color: #b053c4;
    
    width: 40vh;
    height: 10vh;
    border: none;
    border-radius: 20vh;
    
    margin-left: 10vh;
    margin-top: 8vh;
}

.page-breaker-hr {
    border: none;
    height: 3px;
    background-color: #273549;
    width: 85%;
    margin: 8vh auto;
}